.custom-checkbox input[type="checkbox"]:checked + span {
  background-color: #354ace;
  border-color: #354ace;
}

.custom-checkbox input[type="checkbox"] {
  border: 2px solid #354ace;
}

.custom-checkbox input[type="checkbox"]:hover {
  border-color: #354ace;
}

.custom-checkbox input[type="checkbox"]:checked {
  border-color: #354ace;
}
